Healthcare Insurance Project

## Objectives
We got data source form Kaggle https://www.kaggle.com/datasets/willianoliveiragibin/healthcare-insurance.
Dataset contain different personal attributes and regional factors and their imapct on healthcare insurance charges.Study approaches for collecting different types of data from data source for healthcare insurance project.

## Inputs
It contains information on the relationship between personal attributes (age, gender, BMI: body mass index, family size, smoking habits), geographic factors, and their influence on medical insurance charges


## Outputs
Descriptive Statistics: Display basic statistics such as average insurance charges by age, gender, and region.
Correlation Analysis: Visualise correlations between different attributes and insurance charges.
Predictive Analysis: Develop and visualise predictive reports for estimating insurance costs.
Geographic Analysis: Visualise the impact of geographic regions on insurance charges.


## Additional Comments

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [97]:
import os
current_dir = os.getcwd()
current_dir

'/'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [98]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [99]:
current_dir = os.getcwd()
current_dir

'/'

# Section 1

Extracting the datasource

In [100]:
import numpy as np    # importing numpy functions
import pandas as pd   # panda functions
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
from sklearn.pipeline import Pipeline
from feature_engine.encoding import OneHotEncoder
df_insurance = pd.read_csv("/workspace/HealthcareInsurance_Project/insurance.csv") # reading file and extract data in tabular format
df_insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

---

 Transform: Clean the data, handle missing values, encode categorical variables, and create new features such as body mass index (BMI) categories.

Section 2 content

In [101]:
df_insurance = df_insurance.drop_duplicates() # check for duplicates and remove them

In [102]:
df_insurance.isnull().sum()  # check for Missing values or data

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [103]:
df_insurance = pd.read_csv("/workspace/HealthcareInsurance_Project/insurance.csv").filter(['sex', 'smoker','region'])
from feature_engine.imputation import DropMissingData  
pipeline = Pipeline([
      ( 'drop_na', DropMissingData() ),
      ('ohe', OneHotEncoder(variables=['sex','smoker','region'], drop_last=True) )
])


df_insurance = pipeline.fit_transform(df_insurance)
df_insurance

,sex_female,smoker_yes,region_southwest,region_southeast,region_northwest
0,1,1,1,0,0
1,0,0,0,1,0
2,0,0,0,1,0
3,0,0,0,0,1
4,0,0,0,0,1
...,...,...,...,...,...
1333,0,0,0,0,1
1334,1,0,0,0,0
1335,1,0,0,1,0
1336,1,0,1,0,0
1337,1,1,0,0,1

In [104]:
# Create new features such as body mass index (BMI) categories
df_insurance = pd.read_csv("/workspace/HealthcareInsurance_Project/insurance.csv")  # extracting data from datasource
def categorize_bmi(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif 18.5 <= bmi < 24.0:
        return "Normal"
    elif 24.0 <= bmi < 29.9:
        return "Overweight"
    else:
        return "Obese"

df_insurance['bmi_category'] = df_insurance['bmi'].apply(categorize_bmi)

# Optional transition - Encoding BMI categories as ordinal values
bmi_mapping = {'Underweight': 0, 'Normal': 1, 'Overweight': 2, 'Obese': 3}
df_insurance['bmi_category'] = df_insurance['bmi_category'].map(bmi_mapping)


print(df_insurance.head())  # Displays final output

   age     sex     bmi  children smoker     region      charges  bmi_category
0   19  female  27.900         0    yes  southwest  16884.92400             2
1   18    male  33.770         1     no  southeast   1725.55230             3
2   28    male  33.000         3     no  southeast   4449.46200             3
3   33    male  22.705         0     no  northwest  21984.47061             1
4   32    male  28.880         0     no  northwest   3866.85520             2

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [105]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)

IndentationError: expected an indented block (553063055.py, line 5)